:root {
    --text: hsl(232, 56%, 92%);
    --background: hsl(232, 56%, 8%);
    --primary: hsl(228, 55%, 74%);
    --secondary: hsl(266, 99%, 34%);
    --accent: hsl(275, 99%, 55%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}

.sidebar {
    background-color: var(--secondary);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
}

img[src$=".svg"] {
    height: 32px;
}

.header {
    background-color: var(--primary);
}

.main-content {
    background-color: var(--background);
}

