@import url('https://fonts.googleapis.com/css?family=Inter:700|Inter:400');


:root {
    --text: hsl(232, 56%, 92%);
    --background: hsl(232, 56%, 8%);
    --primary: hsl(228, 55%, 74%);
    --secondary: hsl(266, 99%, 34%);
    --accent: hsl(275, 99%, 55%);
    --navbar-gap:16px;
    --header-top-gap:8px;
    --option-dimension: 24px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 5fr;
    font-family: 'Inter';
    font-weight: 400;
}

.sidebar {
    background-color: var(--secondary);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 8fr;
    row-gap: 48px;
    padding-top: var(--navbar-gap);
    padding-right: 50px;
    color: var(--text);
}


.sidebar-header {
    display: grid;
    grid-template-columns: calc(var(--option-dimension) + var(--navbar-gap) ) 1fr;
    grid-template-rows: 48px;
    column-gap: var(--navbar-gap);
}


.sidebar-header > img {
    width: 48px;
    height: 48px;
    filter: invert(87%) sepia(11%) saturate(321%) hue-rotate(196deg) brightness(103%) contrast(93%);
}
.sidebar-header > h1 {
    display: grid;
    align-items: flex-end;
    font-size: 2rem;
}

.sidebar-main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, var(--option-dimension));
    row-gap: var(--navbar-gap);
    padding-left: var(--navbar-gap);
}

.sidebar-footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, var(--option-dimension));
    row-gap: var(--navbar-gap);
    padding-left: var(--navbar-gap);
}

.sidebar-option {
    display: grid;
    grid-template-columns: var(--option-dimension) 1fr;
    align-items: stretch;
    column-gap: var(--navbar-gap);

}


.sidebar-option > img {
    height: 100%;
    width: 100%;
    filter: invert(87%) sepia(11%) saturate(321%) hue-rotate(196deg) brightness(103%) contrast(93%);
}

.sidebar-option > p {
    display: grid;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 600;
}

.header {
    background-color: var(--primary);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: calc(48px + var(--navbar-gap)) calc(86px + var(--navbar-gap));
    row-gap: var(--navbar-gap);
}

.header-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: var(--navbar-gap) calc(var(--navbar-gap) * 2) 0 calc(var(--navbar-gap) * 2);
}

.header-search {
    display: grid;
    grid-template-columns: var(--option-dimension) 1fr;
    align-items: center;
    column-gap: var(--header-top-gap);
}

.header-search > input {
    height: var(--option-dimension);
    border-radius: 25px;
    border: none;
    background-color: var(--background);
}

.header-search > img{
    filter: invert(7%) sepia(9%) saturate(4906%) hue-rotate(196deg) brightness(94%) contrast(103%);
}
.header-options {
    display: grid;
    grid-template-columns: repeat(2, var(--option-dimension)) 48px max-content;
    align-items: center;
    column-gap: var(--navbar-gap);
    justify-content: flex-end;
}

.header-options > img{
    filter: invert(7%) sepia(9%) saturate(4906%) hue-rotate(196deg) brightness(94%) contrast(103%);
}

.profile-pic{
    width: 100%;
    height: 48px;
}

.profile-pic > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    object-position: 100% 0%;
}

.header-options > h4 
{
    font-size: 1.1rem;
    font-weight: 600;
}

.header-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding:  0 calc(var(--navbar-gap) * 2) var(--navbar-gap) calc(var(--navbar-gap) * 2);
}

.header-intro {
    display: grid;
    grid-template-columns: 86px max-content;
    column-gap: var(--navbar-gap);
}

.text-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content;
    align-self: center;
    gap: 4px;
}


.header-buttons {
    display: grid;
    grid-template-columns: repeat(3,120px);
    grid-template-rows: 40px;
    justify-content: flex-end;
    align-content: center;
    column-gap: var(--navbar-gap);
}

.header-buttons > button {
    background-color: var(--secondary);
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--text);
    border-radius: 25px;
    border: none;
}

.main-profile-pic {
    width: 100%;
    height: 86px;
}
.main-profile-pic > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    object-position: 100% 0%;
}


.header-search > img, .header-options > img {
    width: 100%;
    height: 100%;
}

.main-content {
    background-color: var(--background);
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.main-content > * {
    border: 1px solid black;
}

.project-view {
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
}

.grid-item {
    height: 200px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr var(--option-dimension);
    background-color: var(--primary);
    border: 1px solid black;
    padding: calc(var(--navbar-gap) * 2) calc(var(--navbar-gap) * 2) calc(var(--navbar-gap) * 2) var(--navbar-gap);
    row-gap: 4px;
}

.grid-item > p {
    font-size: 0.9rem;
}

.grid-icons {
    display: grid;
    grid-template-columns: repeat(3, var(--option-dimension));
    justify-content: end;
    gap: var(--navbar-gap);
}

.grid-icons > img {
    height: 100%;
    width: 100%;
}

.info-view {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.announcements {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
}

.announcement-container {
    background-color: var(--primary);
}

.trending {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
}


.trending-container {
    background-color: var(--primary);
}

